[Unit]
Description=Crust service
After=network.target

[Service]
ExecStart=/usr/local/sbin/crust --config-path /etc/crust/log4rs.yaml --log-path /etc/crust/crust.yaml
Restart=always
User=root
Group=root
WorkingDirectory=/etc/crust

[Install]
WantedBy=multi-user.target
